.figure-list {
  @media(max-width: 1199px){
    display: flex;
    flex-wrap: nowrap;
  }
  @media(min-width: 1200px) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: minmax(100px, auto);
    grid-auto-flow: dense;
    grid-gap: 10px;
    overflow: hidden;
    border-radius: 50px;
  }

  &__item {
    @media(max-width: 1199px){
      max-width: 300px;
      flex: 0 0 100%;
      max-height: 200px;
      overflow: hidden;
      border-radius: 10px;
      + .figure-list__item {
        margin-left: 15px;
      }
    }
    @media(min-width: 1200px) {
      display: grid;
      transition: 0.2s;
      position: relative;
      box-shadow: 0 3px 4px rgb(36 79 152 / 15%);
      img {
        height: 100%;
      }

      &:nth-child(1) {
        grid-column: span 3;
        grid-row: span 2;
      }

      &:nth-child(2) {
        grid-column: span 1;
        grid-row: span 1;
      }

      &:nth-child(3) {
        grid-column: span 2;
        grid-row: span 1;
      }

      &:nth-child(4) {
        grid-column: span 1;
        grid-row: span 1;
      }

      &:nth-child(5) {
        grid-column: span 1;
        grid-row: span 1;
      }

      &:nth-child(6) {
        grid-column: span 1;
        grid-row: span 1;
      }
    }
  }
}
