.menu {
  list-style-type: none;
  @include mobile-above {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__link {
    @media(max-width: 768px){
      &:not(first-child){
        margin-top: 20px;
      }
    }
    img {
      width: 100px;
    }
  }
}
