.nav-menu {
  position: fixed;
  top: 0;
  background: #2a75ed;
  padding: 20px;
  width: 100%;
  height: 100vh;
  max-width: 200px;
  z-index: 100;
  transition: transform 0.3s;
  transform: translate(-100%, 0);
  &__close {
    color: #fff;
    border: none;
    background: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 20px;
  }
  &--active {
    transform: translate(0, 0);
  }
}
