.main-header {
  margin-bottom: 50px;
  @media(min-width: 768px){
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
  }
  &__info,
  &__img {
    @media(min-width: 1024px) {
      flex: 0 1 50%;
      max-width: 50%;
    }
  }
  &__img {
    position: relative;
    @media(min-width: 1024px){
      text-align: right;
      &:before {
        content: '';
        position: absolute;
        bottom: 80px;
        right: 0;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background: #2a75ed;
        z-index: -1;
      }
      &:after {
        content: '';
        position: absolute;
        bottom: 4px;
        right: 200px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: #ff3767;
        z-index: -1;
      }
    }
    img {
      @media(max-width: 1023px){
        display: none;
      }
      @media(min-width: 1024px){
        max-width: 350px;
      }
    }
  }
  &__title {
    span {
      color: #ff3767;
    }
  }
}
