<section id="skills" class="portfolio">
  <h2 class="portfolio__title">A digital Product Design</h2>
  <ul class="portfolio__list figure-list">
    <li class="figure-list__item">
      <img src="img/portfolio/picture_1.jpg" alt="" class="figure-list__img"/>
    </li>
    <li class="figure-list__item">
      <img src="img/portfolio/picture_2.jpg" alt="" class="figure-list__img"/>
    </li>
    <li class="figure-list__item">
      <img src="img/portfolio/picture_3.jpg" alt="" class="figure-list__img"/>
    </li>
    <li class="figure-list__item">
      <img src="img/portfolio/picture_4.jpg" alt="" class="figure-list__img"/>
    </li>
    <li class="figure-list__item">
      <img src="img/portfolio/picture_5.jpg" alt="" class="figure-list__img"/>
    </li>
    <li class="figure-list__item">
      <img src="img/portfolio/picture_8.jpg" alt="" class="figure-list__img"/>
    </li>
  </ul>
</section>
