<header class="header">
  <ul class="header__list menu">
    <li class="menu__item">
      <a href=""
         title="Logo"
         class="menu__link">
        <img src="img/logo.png" alt="Обложка" class="menu__logo"/>
      </a>
    </li>
    <li class="menu__item">
      <a href=""
         title="contact-link"
         id="open-menu"
         class="menu__link button-transparent button-transparent--mobile">
        Menu
      </a>
    </li>
    <li class="menu__item">
      <a href=""
         title="contact-link"
         class="menu__link button-transparent button-transparent--mobile">
        Contact Me
      </a>
    </li>
  </ul>
</header>
