<nav class="nav-menu">
  <ul class="nav-menu__list">
    <li class="nav-menu__item clickable">
      <svg width="22" height="22" class="nav-menu__icon">
        <use xlink:href="img/sprite.svg#home"></use>
      </svg>
      <a href="#header" class="nav-menu__link clickable__button">Home</a>
    </li>
    <li class="nav-menu__item clickable">
      <svg width="22" height="22" class="nav-menu__icon">
        <use xlink:href="img/sprite.svg#about"></use>
      </svg>
      <a href="#about" class="nav-menu__link clickable__button">About</a>
    </li>
    <li class="nav-menu__item clickable">
      <svg width="22" height="22" class="nav-menu__icon">
        <use xlink:href="img/sprite.svg#skills"></use>
      </svg>
      <a href="#skills" class="nav-menu__link clickable__button">My skills</a>
    </li>
    <li class="nav-menu__item clickable">
      <svg width="22" height="22" class="nav-menu__icon">
        <use xlink:href="img/sprite.svg#contact"></use>
      </svg>
      <a href="#contact" class="nav-menu__link clickable__button">Contact</a>
    </li>
  </ul>
</nav>
