@import "vars";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: $color-main;
  font-family: "asd", sans-serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(61, 60, 84, 1) 0%, rgba(160, 128, 149, 0.45) 0%, rgba(181, 182, 184, 1) 41%, rgba(222, 224, 218, 1) 86%);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $color-main;
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.container {
  position: relative;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  @media(min-width: 1025px) {
    max-width: 1200px;
  }
}

.wrapper {
  min-height: 100vh;
  word-break: break-word;
}

.content {
  position: relative;
}

.wrapper, .wrapper > .content {
  display: flex;
  flex-direction: column;
}

.wrapper > .content {
  flex-shrink: 0;
  flex-grow: 1;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
