@import "vars";

.main-content {
  margin-top: 50px;
  padding: 30px 20px;
  border-radius: 30px;
  background-color: rgb(235 239 242/70%);
  backdrop-filter: blur(3px);
  overflow: hidden;
  @media(min-width: 768px){
    padding: 30px 100px;
  }
  &__header {
    margin-bottom: 50px;
    @media(min-width: 768px){
      display: flex;
      justify-content: space-between;
      margin-top: 80px;
    }
  }
}

.hidden-block {
  position: relative;
  @media(min-width: 768px){
    &:before {
      content: '';
      position: absolute;
      left: -30px;
      top: 20px;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: $color-white;
      z-index: -1;
    }
    &:after {
      content: '';
      position: absolute;
      right: 20px;
      bottom: -20px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #2a75ed;
      z-index: -1;
    }
  }
}
